* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    background-color: white;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: -15rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    border-bottom: 0px;
    margin-right: -15rem;
}

.link:hover {
    background-color: #ee71d1;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.link {
    font-weight: 400;
    font-size: 25px;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.burger {
    font-size: 25px;
    display: none;
}

@media all and (max-width: 768px) {
    .burger {
        display: block;
        margin-left: 25rem;
        z-index: 998;
    }

    .nav-links {
        position: absolute;
        display: table-row;
        top: 0;
        left: 0;
        height: 100vh;
        background: #ee71d1;
        padding: 40px;
        width: 50%;
        transform: translateX(-500px);
        transition: 0.5s ease-in-out;
        z-index: 999;
    }

    .nav-links:hover {
        border-bottom: 0px
    }
}