* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    font-family: inter;
    background: linear-gradient(90deg ,#83d0cb, #145277);
}

.logo {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    font-weight: normal;
    font-size: 22px;
    color: #DBF1F0;
}
